{% load static %}
{% load markdown_extras %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BBC~shibaura~</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>
<body>
<br><br>
<div class="box">
<div class="blog">
    <p>～掲示板～</p>
    <br>
    {% for blog in blogs|slice:":2" %}
    <div class="blog2">
        <div id="title">{{ blog.title }}</div>
        <hr>
        <div id="time">掲載日：{{ blog.created_datetime }}</div>
        {{ blog.text | markdown | safe }}
    </div>
    <br><br>
    {% endfor %}
</div>
<div class="menu">メニュー</div>
</div>

<div class="clear">clear</div>

<br><br>
<div class="footer">
    <br>
    最後
    <br><br>
</div>
</body>
</html>