body img{
    width: 50%;
}
.blog{
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000000;
}
.blog p{
    font-size: 24px;
    text-align: left;
    color: #ff0000;
}
.blog2{
    width: 90%;
    text-align: left;
    display: inline-block;
    border: 1px solid #000000;
    padding: 10px;
}

.blog2 p{
    color: #000000;
}
#time{
    font-size: 15px;
    text-align: right;
    padding-right: 20px;
}
#title{
    font-size: 24px;
}
#text{
    font-size: 20px;
    color: #000000;
}
#textred{color: #ff0000;}
#textgreen{color: #00ff00;}
#textblue{color: #0000ff;}

